[2014-11-10 10:46] diellenne opened #1 "XAF financial information exporting"
Proposal for the implementation of a module to export the financial (accounting) information
from Odoo to an .XAF file according to the model provided by the Dutch tax  authorities (http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/aangifte_betalen_en_toezicht/toezicht/handhaving_en_controle/belastingcontrole_met_de_auditfile).

[2014-11-10 10:57] diellenne commented on #1
ONESTEiN BV (@onesteinbv) has developed a new module for this based on the module "nbs_xml_auditfile_financieel" developed by Neobis ICT Dienstverlening B.V.
To use it is required the module "xml_template" (https://www.odoo.com/apps/7.0/xml_template) created by Swing Entwicklung betrieblicher Informationssysteme GmbH.

The module has to be adapted to the l10n-netherlands conventions and will be pr

[2014-11-10 14:02] diellenne opened #2 "Dutch basic configurations"
Proposal for the implementation of a module containing basic configurations to fit the general customs and traditions of the Netherlands. The idea is to create a module to collect all the settings and configurations that are too small to have a dedicated module: the discussion about what has to be included in this module and what doesn't is open...

[2014-11-10 14:12] diellenne commented on #2
Some ideas to start:
- Currency symbol in reporting before amounts
- Decimal separators automatically set to the form 1.000,00

[2014-11-10 14:50] RoelAdriaans commented on #2
We adapted the oca/partner-contact/partner_firstname module to have extra fields.

We added initials, given name, preposition and a last name. (Initialen, voornaam, voorvoegsel and a lastname). This generates a name and a formal name, where the name field uses the given name, and the formal name uses the initials.

[2014-11-10 15:20] diellenne commented on #2
Sounds good but I was thinking to put in this module just the configurations you usually do from the interface; so you don't have to do them manually. This is my idea but we can discuss about it...

About your module: it seems really useful and I think it deserves a dedicated module (e.g. l10n_nl_partner_firstname). If you want you can create a new proposal (issue) to discuss it and we can add it

[2014-11-12 15:23] diellenne commented on #1
I started to modify our module to make it comply with the policy of the community on the fork: https://github.com/onesteinbv/l10n-netherlands/tree/7.0-l10n_nl_xaf_auditfile_export-dev

[2014-11-17 10:48] diellenne opened #4 "Dutch community modules icon"
Will be nice to stamp all the modules related with our localization project with our own icon: is a very small thing but I think is nice to have a symbol to identify our work as a community.

For now we don't have anything so all the ideas and suggestions will be greatly appreciated!

[2014-11-19 10:54] hbrunn commented on #2
@RoelAdriaans-B-informed you might want to look at #3, that does most of what you named and the rest can be done with a few very simple overrides

[2014-12-16 15:57] diellenne commented on #1
Submitted now the PR to merge the modules for V7 (#6)  and V8 (#7).

[2015-01-02 14:27] diellenne opened #8 "Local Netherlands Maintainers Team"
Hi Everybody,

with new year is time to intensify the work on this project and to speed up the activities we should have a bigger maintenance team.
Who is interested in this activity can just reply to this post and I will be happy to organise a team big enough to never leave the project uncovered.
For some permission issues I cannot add directly new members but I will take care to forward the requ

[2015-01-02 20:47] StefanRijnhart commented on #8
Yes please. I am also proposing my colleague @holgerbrunn who is one of the more active reviewers in OCA overall. Note that as an OCA board member, I can actually assign the members until the issue with the permissions has been resolved.

[2015-01-02 22:06] StefanRijnhart commented on #8
Oh wait, it's @hbrunn

[2015-01-06 09:10] diellenne commented on #8
So for now I suggest to add to the Local Netherlands Maintainers Team:
- @StefanRijnhart
- @hbrunn (Holger Brunn)
- @pankk (Kevin Graveman)

Obviously any other proposal will be highly appreciated. :+1:

@StefanRijnhart, can you please add these users in the group? Thank you.

[2015-01-06 09:11] ploegvde commented on #8
Sorry, I love to help. But i'm not a developer. Good luck guys!

[2015-01-06 09:42] StefanRijnhart commented on #8
Done: checked that everyone has filed their CLA to the OCA and added these members to the maintainers team.

[2015-01-06 09:53] diellenne commented on #8
Hi @erwin-bas-solutions,

thank you for your interest in the project! Also if you are not a developer I hope to see you active in it, there are thousand way to contribute: testing, bug reporting, functional review, translations, new modules proposal, documentation...everything will be really highly appreciated so feel free to join our community! :)

Cheers.

[2015-01-06 09:54] diellenne commented on #8
@StefanRijnhart  :+1:

I cannot find @hbrunn in the OCA Odoo instance: can you give a look why he is not present in the OCA members list? I'd like to have him in the Odoo system to keep the task status aligned.

[2015-02-09 10:11] pankk opened #10 "Iteration issue when res_partner.bank_ids is filled"
When banking information is filled for a partner (Accounting tab on the partner view), the created XAF file will contain errors and on opening with the AuditFileViewer an error message will be given by the viewer ("Er is een fout opgetreden bij het tonen van bedrijfsgegevens van een xaf bestand.").
The file is also much larger than when the banking information is removed (e.g. 270kB instead of 75k

[2015-02-09 10:15] pankk commented on #10
Created a work around: ff561037fd987b4f55423414d48c9f9358be2f72 this bypasses the banking information.

[2015-02-13 13:22] StefanRijnhart commented on #8
To answer your question, @dielenne: most partners are not users in the OCA database, and project members need to be users not partners. We are trying to fix that here: https://github.com/OCA/maintainers-tools/pull/47

[2015-03-31 14:09] #1 closed, assigned to diellenne

[2015-03-31 14:09] #10 closed, assigned to pankk

[2015-08-27 12:48] Fuchur777 opened #20 "Odoo 9 Sprint - Shared goals"
Odoo 9 sprint shared goals for September 9th 2015.

[2015-08-27 13:04] woepwoep commented on #20
Graag zou ik iDEAL willen inbrengen (pos_ideal)
Bij Therp zit iemand die daar verstand van heeft (Holger Brunn) misschien dat Holger ook mee wil doen?
Zelf heb ik ook diverse iDEAL koppelingen gerealiseerd in TYPO3 (www.typo3.org) o.a. ing_advanced en rabo_omnikassa.
Als basis zouden we https://github.com/thegreatnew/python-ideal kunnen gebruiken.
R

[2015-09-07 12:23] ghost commented on #20
UBL import en export van facturen op een digitale manier. Geen PDF's overtypen maar direct een factuur aanmaken. http://www.ublketentest.nl/ voor uitleg over formaat.
Initiatief van de Nederlandse overheid en ondersteund door unit4, snelstart, yuki en tig anderen.

[2015-09-09 11:39] #8 closed, assigned to nobody

[2015-09-09 13:39] diellenne commented on #20
Hi All,

the meeting was really nice: there was a lot of things to talk and discuss about! In name of OCA I'd love thank all the persons that joined this first 'Odoo Dutch Community meeting' hoping that in the future our community will become bigger and bigger!

I'm updating the issue section of the project with the main topics we discussed so we can use them as discussion board and get everyone i

[2015-09-09 13:49] diellenne commented on #2
This topic was mentioned today in the meeting: let's reopen this discussion; any Idea is welcome!

[2015-09-09 13:58] diellenne opened #21 "IDEAL payment module"
In the meeting of today popup the common need of a module to handle directly the IDEAL payments on the webshop: will be really nice to implement this together as an OCA module. Open discussion below...

[2015-09-09 14:07] diellenne opened #22 "Government communication modules"
The Dutch government provide different services (https://data.overheid.nl/data/dataset) to retrieve information like:
- Company info form KvK
- Car info from RDW
- BAG info
- ....

Will be nice to implement modules for that...possibly based on a unique platform. Open discussion below...

[2015-09-09 14:15] andreschenkels opened #23 "CBS / Intrastat module for The Netherlands"
Based on the OCA intrastat base we should provide a correct Intrastat report

[2015-09-09 14:18] diellenne opened #24 "Predefined 'Chart of accounts' for Company type"
The idea is to build a module to load automatically a different chart of account based on the kind of the company that is running the system. Any input on this?

[2015-09-09 14:30] nielsmiddeldorp opened #25 "Postcode API"
This is a great addition for Dutch users. Now it relies on a single provider. It would also be great to be able to use other providers like: [overheid.io](https://overheid.io/documentatie/bag), [postcodes.nl](https://www.postcodes.nl/webservice/technical/address) or even directly from the government via: [kadaster](http://www.kadaster.nl/web/artikel/producten/BAG-Bevragen.htm). This way it would b

[2015-09-18 13:02] StefanRijnhart commented on #25
Sure. If someone wants to implement this for other providers, it should be easy to refactor and add a generic interface layer.

[2015-10-14 00:27] pedrobaeza opened #27 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] l10n_nl_xaf_auditfile_export
- [x] l10n_nl_postcodeapi

[2015-11-24 09:36] StefanRijnhart commented on #25
@nielsmiddeldorp are you planning to work on this? Otherwise this issue may probably be closed.

[2015-11-24 09:38] StefanRijnhart commented on #21
Not OCA, but open source nevertheless: https://github.com/Therp/Therp-Addons/tree/8.0/payment_ideal.

[2015-11-24 09:41] mgielissen commented on #25
@StefanRijnhart There is a new Postcode API 2.0. V1.0 wil discontinued at March 1, 2016

[2015-11-24 09:45] StefanRijnhart opened #28 "Whiteworks import"
Hi,

by customer demand, I have made a module that imports .xlsx files with contacts and invoices generated by Whiteworks CRM and accounting. https://www.whiteworks.nl/. It can be used as the starting point of a one time migration or as a periodic process. As Whiteworks is a very local player in the Netherlands, we could host the module in this project if there is any interest. Let me know and I w

[2016-01-05 14:27] StefanRijnhart opened #32 "New OCA representative (aka. project leader)"
From LinkedIn I understand that @diellenne is no longer working in the Odoo area, so I wanted to propose @hbrunn as the next OCA representative for this project.

Holger is one of the most active Odoo developers in the OCA. He wrote three of the four modules in the 8.0 branch of this repository.

[2016-01-05 15:36] diellenne commented on #32
Yes, I quit Onestein BV and I'm not working around Odoo anymore...at least not in my professional life. As reported on the OCA website (unavailable at the moment) @pankk has been appointed as new OCA representative.

Regards

[2016-01-05 15:55] StefanRijnhart commented on #32
Given the total absence of activity in the whole OCA I don't think @pankk qualifies, to be honest.

[2016-01-05 16:02] pankk commented on #32
I've been fully booked on projects at Onestein BV, but will work more on OCA in the near future.

[2016-01-05 16:14] diellenne commented on #32
The only thing I can say is that personally I fully support @pankk for the role: I had the pleasure to closely work with him in the last two years and I think that he is skilled, responsible and dedicated enough to make a really good job as OCA representative.

[2016-01-05 16:58] acde55 commented on #32
Well that's  what Onestein-people said about you also before you started, however it didn't work out that way, did it?  Many people have lots of good intentions but I propose to look at the facts this time.

[2016-01-05 17:25] pedrobaeza commented on #32
I have to say that the sequence should be that way: first contribute and prove your intentions, and then receive the credits and apply for the representation.

[2016-01-05 17:40] ghost commented on #32
Stefan, we will still be the project manager of the Dutch localization since we have the accounting knowledge in the Netherlands and as the only Dutch  organization with academic knowledge  regarding this subject.

But of course you can join.

[2016-01-05 17:46] ghost commented on #32
Acde5: im sorry but what's going on?i don't know who you are and how could you accuse us saying something that we didn't? We have a strong relationship with the former Therp and Stefan?

[2016-01-05 17:48] ghost commented on #32
Stefan, I'll call you tomorrow and let's sort this out tomorrow. Texting will not help anybody. Have a good evening.

[2016-01-05 17:50] ghost commented on #32
Kevin is just fully booked for the next few days there is no reason to doubt anything.

[2016-01-05 17:50] StefanRijnhart commented on #32
@samernefawa Don't bother calling me please. Onestein has done a very poor job managing this project so far so I would like to leave it to a party with proven commitment.

[2016-01-05 18:31] ghost commented on #32
ONESTEiN as responsible for the Dutch localization we make use of our academic accounting knowledge to improve Dutch accounting, it could be managing the process, initiating an idea which not always visible, or working on the code. It's important to look from both the functional as the Technical side as coding only one of the important elements besides understanding the process from functionality

[2016-01-05 18:32] gfcapalbo commented on #32
I agree with pedro , i believe the person who contributes the most is most qualified to take over.

[2016-01-05 18:38] pedrobaeza commented on #32
@samernefawa, I agree that your company can be very qualified, and has mounted a dutch partner network about that, but this is OCA, and the facts that count are the contributions made to it. I can't see much of these contributions from any of your people, and they don't have to be technical ones. You can write blueprints for instructing how to develop some specific accounting methods. Maybe I'm wr

[2016-01-05 18:40] gfcapalbo commented on #32
:+1:

[2016-01-05 18:41] ghost commented on #32
Sure the most contributes are most desired .. True, have a good evening.

[2016-01-05 19:17] diellenne commented on #32
Dear @acde55 ,

I'm replying to you just because you publicly referred directly to me; I don't think that if the project is going slow is fault of the OCA Representative...or at least not all of it; we already discussed about it and made our 'Mea Culpa' but you are free to think what you prefer.
Anyway if you have so much to complain you could simply come out months ago (not just now that a new re

[2016-01-05 19:25] ghost commented on #32
Please hold your horses everybody, it seems that everybody willing to work for the benefits of  OCA.
 That's wonderful,  let's try to organize  to maximize the benefits.

 For the time being I wish you great evening.
 Send me a personal email if you are willing to maximize the benefits towards OCA  we can work on that together.

[2016-01-21 08:51] pankk opened #33 "Plotting a new roadmap"
Dear Dutch OCA community,

2016 is well underway and Odoo 9 has been released for a few months now.

Let's discuss which modules we want to update to 9 and which new modules would be nice to have for the Dutch market.

To name just a few:
- XAF audit file
- Ideal Payment
- KvK connector
- NL Configuration
- SBR / XBLR / BTW aangifte
- Tax: Werkkostenregeling
- NL Banking integration

As the last s

[2016-01-21 09:42] andreschenkels commented on #33
Thnx for providing a new roadmap. I would love to do some work on XAF and Werkkosten.
Am I missing the Tax report?

[2016-01-25 13:34] mgielissen commented on #25
Any news about API 2.0?

[2016-01-25 20:56] hbrunn commented on #25
@mgielissen the code is done for a while already, but not yet published on pypi: https://github.com/steffex/pyPostcode/issues/11 - so this is rather an issue of the underlying library than of the odoo addon

[2016-02-10 14:01] pankk commented on #33
Dear all,

Please take some time to reply on this thread to collaborate together for better accounting in The Netherlands. This message was sent earlier but the replies are not sufficient yet. Once more, I request you to take a look at this.
Many thanks, and I hope to hear from you, and see you soon during our sprint that we will organize on our location.

Kind regards,

Kevin Graveman

[2016-02-11 11:55] ploegvde commented on #33
Funny, that we talk English in the Dutch localisation, but anyhow. I want to add some things that i find important for Dutch users;
- ICP aangifte rapportage en directe aangifte bij belastingdienst
- Bankafschrift import (is een OCA project)
- Betaalbestand naar bank (is een OCA project)
- Betaalbestand auto incasso (is een OCA project)
- Goed balans en W&V rapportages
- Opschonen/bijwerken huidig

[2016-02-29 09:32] astirpe commented on #28
Hello @StefanRijnhart, where can we find the code of the module you mentioned? I'm curious to see it and I could try to find out if there could be of any interest for the Dutch localization.
Thank you!

[2016-03-02 07:47] StefanRijnhart commented on #28
Code is in a customer's repo at this moment, sorry. I was asking, do you want this functionality and I'll give you the code. Now you are saying, give me the code and we'll tell you if we want the functionality (which makes less sense to me, no offense). It confirms my suspicion that the functionality is not that compelling (I never heard of Whiteworks before I was asked to do this). You know that

[2016-03-02 07:47] #28 closed, assigned to nobody

[2016-03-02 07:57] StefanRijnhart commented on #28
By the way, if you think this is a weird conversation, I agree but we have have been burned before by a Onestein guy on this project because we just proposed code without a notification or a discussion beforehand wether the proposed code 'fit in the project's roadmap'.

[2016-03-08 09:52] #25 closed, assigned to nobody

[2016-03-09 10:00] andreschenkels commented on #32
I see a lot more contributions coming from Onestein and I know @pankk will do a good job.

[2016-03-09 15:05] ploegvde commented on #32
Let's support @pankk and all move forward!

[2016-03-09 15:20] hbrunn commented on #32
I don't understand what's to discuss when looking at https://github.com/OCA/l10n-netherlands/graphs/contributors

[2016-03-09 15:45] PCatinean commented on #32
I cannot speak for other contributors since I do not know them personally or online (my shortcoming here).All I can say is that I vouch for @hbrunn as he is a top-notch developer, valued and frequent contributor to OCA (as the numbers also show).I personally work with him and witnessing first-hand his experience and dedication towards opensource and education of others

Again, no disrespect or dis

[2016-03-09 15:54] gurneyalex commented on #32
in terms of knowledge of the OCA processes and implication in the OCA projects, @hbrunn is clearly a better candidate. Let @pankk learn the ways of the OCA projects, let him do some reviews, participate and get involved and _then_ maybe he can say he'd like to be the PSC representative. As of today, he only has participated on 3 different PRs on this project which seems quite low to me.

[2016-03-09 16:08] legalsylvain commented on #32
:+1: with @gurneyalex, @pedrobaeza, @StefanRijnhart arguments.

@ploegvde : I'm not sure that 'support' is a good term. This is not an election. It is about who has the best qualities to be an OCA representative. Saw @hbrunn activities in OCA (generaly and in this project), I don't see any reason to choose someone else.

Kind regards.

[2016-03-09 16:22] max3903 commented on #32
It is not an election or vote of popularity, it is a meritocracy and as of today @hbrunn deserves to be the OCA representative more than anyone else when objectively looking at:
https://github.com/OCA/l10n-netherlands/graphs/contributors

[2016-03-09 18:46] astirpe opened #41 "l10n_nl_bsn, improve check: BSN unique"
One minor bug: When having a valid BSN number for a partner, then changing it to an invalid number, save and get the correct warning, finally change it back to the original valid number, you will get a "Another person (Administrator) has the same BSN [...]" warning.

[2016-03-09 22:34] sebastienbeau commented on #32
I agree with @gurneyalex @max3903 @StefanRijnhart @pedrobaeza
@hbrunn have a great knowledge of OCA and also a good experience (see git history) on this project so as the rule is the meritocracy, I think for now that @hbrunn is the best for the job.

[2016-03-10 01:42] elicoidal commented on #32
:+1: for @hbrunn

[2016-03-10 10:20] RoelAdriaans commented on #32
That graph is a bit misleading because it's for the 9.0 branch only.
(Contributions to 9.0, excluding merge commits)

But, with a bit of git magic, for the 8.0 branch

[code]

[2016-03-10 11:57] RichDijk commented on #32
:+1: for @pankk

[2016-03-10 12:37] ghost commented on #32
All, lets keep this discussion for the good sake of OCA. From my point of view is the added value of the representative is the one who can do that from different prospects in addition to coding, sharing, willing to improve and really community minded.

Since all parties are willing to improve OCA's mission, I suggest to stay away from the discussion and start collaborating. There is a lot to do th

[2016-03-10 15:34] #32 closed, assigned to nobody

[2016-04-02 12:46] #41 closed, assigned to nobody

[2016-04-02 12:46] #21 closed, assigned to nobody

[2016-04-02 12:47] #2 closed, assigned to nobody

[2016-04-21 20:14] mgielissen commented on #33
+1 for Tax report for v9c

[2016-04-26 15:28] astirpe commented on #33
Based on the job of @alexis-via, the electronic invoicing based on UBL (Universal Business Language) standard.

[2016-04-27 11:05] alexis-via commented on #33
@astirpe I plan to port my UBL/CII modules to v9, but only when I will have a stable structure on v8... and I will probably change the structure when the French standard on electronic invoicing will be published, which should happen in the coming weeks/months (no exact date has been set yet). In the meantime, I prefer to have only the modules for v8, because it's a pain to change the structure and

[2016-06-10 15:28] pankk commented on #27
I'm planning to work on porting l10n_nl_postcodeapi. Is it still in demand or did someone else already start working on it?

[2016-06-17 12:18] pankk commented on #33
Is anyone working on porting the ICP module?

[2016-06-27 08:30] woepwoep opened #49 "Alignment in report"
![image](https://cloud.githubusercontent.com/assets/3803292/16373354/1ded7c3e-3c52-11e6-86f6-23cffa1ab32a.png)

[2016-06-27 08:32] woepwoep commented on #49
the above screenshot is from this module: l10n_nl_tax_declaration_reporting (author Onestein)

[2016-06-27 11:16] lfreeke commented on #49
@woepwoep for time being you can solve it by changing the header spacing and top margin in the paper format at settings.

[2016-07-01 09:27] espo-tony commented on #49
Hi,
I'm afraid this issue comes with the Odoo basic mechanism itself.
Basically, in Odoo and using QWeb report engine, the space reserved to the header is statically defined by the paper format used by the current report. As the "static definition" would suggest, there is no way to dynamically  adapt this space to what is really needed by the user. Default settings consider a space which is accept

[2016-07-01 10:07] woepwoep commented on #49
thx all for explaining the situation at hand.
best regards, Ron

[2016-09-05 09:49] Kundan-Biztech opened #51 "l10n_nl_postcodeapi: sslv3 alert handshake failure"
When we change customer address zip code, sslv3 error raised in trace back.
![error_log](https://cloud.githubusercontent.com/assets/11074172/18244108/f73d752e-737b-11e6-958f-346e4e4f5f5b.png)

[2016-09-06 04:28] hbrunn commented on #51
Update your version of openssl, then this will work again

[2016-09-06 09:11] Kundan-Biztech commented on #51
We have upgrade openssl version. Still we are facing same issue.
![download 1](https://cloud.githubusercontent.com/assets/11074172/18268080/e2482e42-743f-11e6-986c-87ed587f68ab.png)

[2016-09-06 16:21] hbrunn commented on #51
and your python version? Generally, this is a problem talking to this specific server, not with the module itself. Write some small python script that does a request to the url. If this works, the module should work too, if not, the module won't

[2016-10-06 12:55] pedrobaeza opened #52 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] l10n_nl_bsn
- [x] l10n_nl_postcodeapi
- [x] l10n_nl_xaf_auditfile_export

[2016-11-03 16:52] astirpe commented on #52
l10n_nl_bsn already ported with #53
Porting l10n_nl_postcodeapi going on #54

[2017-01-11 14:48] hbrunn commented on #51
closing due to inactivity

[2017-01-11 14:48] #51 closed, assigned to nobody

[2017-01-11 14:49] #49 closed, assigned to nobody

[2017-01-11 14:51] hbrunn commented on #33
intrastat is done in https://github.com/OCA/l10n-netherlands/pull/57

[2017-01-11 14:51] #33 closed, assigned to nobody

[2017-01-11 14:51] hbrunn commented on #24
seems not

[2017-01-11 14:51] #24 closed, assigned to nobody

[2017-01-11 14:52] #22 closed, assigned to nobody

[2017-01-11 14:52] #20 closed, assigned to nobody

[2017-01-11 14:52] hbrunn commented on #23
https://github.com/OCA/l10n-netherlands/pull/57

[2017-01-11 14:52] #23 closed, assigned to nobody

[2017-01-11 14:53] hbrunn commented on #4
if anyone comes up with something, please reopen and attach. Must have some AGPL3-compatible license to be useful.

[2017-01-11 14:53] #4 closed, assigned to nobody

[2017-02-23 10:49] astirpe commented on #52
l10n_nl_xaf_auditfile_export #59

[2017-02-24 17:47] woepwoep opened #61 "Serbia missing in .xsd file"
missing: country code = RS
in: l10n_nl_xaf_auditfile_export/data/XmlAuditfileFinancieel3.2.xsd

[2017-02-27 12:43] woepwoep opened #62 "xaf_auditfile_export.py: SQL syntax error when account.period has no tuples"
File "...l10n_nl_xaf_auditfile_export/models/xaf_auditfile_export.py", line 193, in get_move_line_count
    (tuple(p.id for p in self.get_periods()), self.company_id.id))
  File "...odoo/openerp/sql_db.py", line 158, in wrapper
    return f(self, *args, **kwargs)
  File "...odoo/openerp/sql_db.py", line 234, in execute
    res = self._obj.execute(query, params)
QWebException: "syntax error at or n

[2017-03-08 14:22] ploegvde opened #64 "Translating"
Hi,

I want to help by translation the Dutch modules. But it seems l10n-netherlands is not on Transifex.

[2017-03-09 09:03] astirpe commented on #64
@ploegvde that would be great!

I don't know why l10n-netherlands is not on Transifex. Maybe @hbrunn knows the reason.

I think for the time being we can just add the `nl.po` file in the modules. You could open a pull request for adding the file, I guess such PRs will be well accepted from the Dutch Community.

I'm currently working on porting modules `l10n_nl_tax_declaration_reporting` and `10n_n

[2017-03-09 09:08] hbrunn commented on #64
PRs work for now, but indeed we should have Transifex support. When I took over this project, I must admit I didn't check if this is activated (didn't even think of checking it to be honest), so I should now in order to make this more accessible for less technical contributors. Doesn't seem too complicated: https://github.com/OCA/maintainer-tools/wiki/Activate-Transifex - will do as soon as I find

[2017-03-09 10:10] ploegvde commented on #64
@astirpe I can provide you the nl.po file. Do i pull your code, install module and create po file? Or can you provide me the pot file?

[2017-03-09 10:24] astirpe commented on #64
@ploegvde the way you prefer!

I would prefer if you do the pull, install and create the po file, is easier for me. And maybe is easier for you: this way you could pull, install, translate the terms directly in Odoo, then export the nl.po.

[2017-03-09 12:04] ploegvde commented on #64
10n_nl_xaf_auditfile_export >> https://github.com/OCA/l10n-netherlands/pull/65

CLA i will send today.

[2017-03-09 12:18] ploegvde commented on #64
l10n_nl_tax_declaration_reporting is not installable yet. When i can install i will translate. Ping me when i can start.

[2017-03-09 12:30] astirpe commented on #64
Thank you @ploegvde ! With your permission I could include your `nl.po` file directly in PR #59

I'm still working on `l10n_nl_tax_declaration_reporting` and sure I will ping you as soon I commit an installable version !!!

[2017-03-09 12:35] ploegvde commented on #64
Of course, do whatever is needed.

[2017-03-10 13:03] astirpe commented on #27
l10n_nl_xaf_auditfile_export #66

[2017-03-12 11:14] hbrunn commented on #64
if I didn't mess up anything, https://github.com/OCA/l10n-netherlands/pull/67 should activate transifex for the 10 branch. If this works, I'll provide the patches for 8 and 9 too, or whoever else feels so inclined.

[2017-03-13 07:52] astirpe commented on #64
@ploegvde we have the Transifex up and running! Thanks to @hbrunn who spent his Sunday time on installing and testing it!

[2017-03-13 07:53] hbrunn commented on #64
...and @astirpe who did the same. Will close this one then, thanks to everyone involved!

[2017-03-13 07:53] #64 closed, assigned to nobody

[2017-03-13 07:53] ploegvde commented on #64
Yes, great, already thanked him in another issue. All modules are translated for V8, V9 and V10. Tanks a lot guys. Issue can be closed.

[2017-03-13 07:55] hbrunn commented on #62
please indicate the version you're reporting on. But that's actually only ugly, right? Or is there a use case where this should work instead of generating an error message?

[2017-03-13 07:55] hbrunn commented on #61
please follow this discussion: https://github.com/OCA/l10n-netherlands/pull/60

[2017-03-13 07:55] #61 closed, assigned to nobody

[2017-03-13 07:55] #52 closed, assigned to nobody

[2017-03-13 07:56] #27 closed, assigned to nobody

[2017-03-20 07:34] RoelAdriaans opened #71 "[9.0] XAF audit file export fails with long login (E-Mail)"
With the new 9.0 module, the export fails when the user doing the entries logs in with an emailadres.
The error message:

<pre>
:5228:0:ERROR:SCHEMASV:SCHEMAV_CVC_MAXLENGTH_VALID: Element '{http://www.auditfiles.nl/XAF/3.2}userID': [facet 'maxLength'] The value has a length of '37'; this exceeds the allowed maximum length of '35'.
:5228:0:ERROR:SCHEMASV:SCHEMAV_CVC_DATATYPE_VALID_1_2_1: Element '{

[2017-05-08 12:31] TimvandenBersselaar opened #77 "[8.0 ]l10n_nl_xaf_auditfile_expor"
Impacted versions:
8.0

Steps to reproduce:
Opening 2017 to 04/2017' 'period. However, after reading the relevant Auditfile he still displays as of 15/16/17/18.

Current behavior:
Period 15/16/17/18. File can also not be read in the Audit File Viewer of the Dutch Tax Office.

Expected behavior:
Period 0/01/02/03/04

Is about the:
10n_nl_xaf_auditfile_export 8.0.1.0.0 Export XAF auditfiles for Dutc

[2017-05-08 13:04] TimvandenBersselaar commented on #77
We found some new information. We investigate before we open a new issue.

[2017-05-08 13:04] #77 closed, assigned to nobody

[2017-05-31 10:31] astirpe commented on #23
CBS and ICP: are we talking about different things?

- Centraal Bureau voor de Statistiek (CBS)
- Opgaaf intracommunautaire prestaties (ICP)

[2017-05-31 12:48] ploegvde commented on #23
Yes those are different things. CBS is for the Dutch Statistics Bureau and ICP is for the Dutch Tax authorities. Reports are completely different.

[2017-05-31 12:56] astirpe commented on #23
Are we considering to reopen this issue? Would CBS reports be of interest for the Dutch community?

[2017-05-31 13:43] ploegvde commented on #23
I think the would. WE have made something recently, The CBS output is a CSV file (yes they are that old fashioned) That you have to upload to the CBS website.

The only thing is that the content contains some fixed values, that are fixed for my customer, but can we different for other customer. But i can share if you want.

[2017-05-31 18:10] astirpe commented on #23
@ploegvde if you want, you can open a PR to OCA proposing that module, we will continue the discussion there. It would be great!
For making it generic and OCA guidelines compliant we can join the efforts.
What do you think?

[2017-06-02 09:02] astirpe opened #83 "[RFC] l10n_nl_chart_rgs: upgrade RGS Taxonomie to version 2.0"
Would it be of interest to upgrade the accounts present in module `l10n_nl_chart_rgs` according to RGS Taxonomie version 2.0?
Version 2.0 was published 12 jan, 2017 ([Download link](http://www.referentiegrootboekschema.nl/kbase/index.php?View=files&CategoryID=1))

[2017-06-06 14:48] ploegvde commented on #23
Ok, i will do that today.

[2017-06-18 21:08] Dutchmoors opened #85 "Postcodeapi not working"
I installed the postcode module for odoo v10 community edition.
-Module installed
-pyPostcode installed
-Dutch Provinces imported

When I enter a postcode I get the following odoo Server error:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/p

[2017-06-19 07:08] astirpe commented on #85
@Dutchmoors could you check the fix made in #86 ?

[2017-06-19 07:59] Dutchmoors commented on #85
I'm new to github ....
The fix is that you removed:  __('error'),_ on line 44, correct?

That change results in an error message that says:
_"De verbinding met de postcodeserver kon niet gevalideerd worden (als je deze melding niet meer wilt zien, hernoem of verwijder dan de systeemparameter 'l10n_nl_postcodeapi.apikey')."_

So I still have a problem (although I do have an api-key for the system p

[2017-06-19 09:21] astirpe commented on #83
The published taxonomie version 2.0 has bugs: some accounts have duplicated codes.
[code]

We sent an email to the Support Team RGS, they replied that they are going to fix this issue in a new version.

[2017-06-20 19:32] Dutchmoors opened #87 "NL BTW statement, date range not working"
When creating a new NL BTW Statement I select a date range. Unfortunately the date range is not used in de two date fields in the NL BTW Statement form.

[2017-06-21 07:30] astirpe commented on #87
@Dutchmoors The fix is in #88 for V10 and #89 for V9, could you check?

[2017-06-21 07:58] #85 closed, assigned to nobody

[2017-06-21 10:11] Dutchmoors commented on #87
I applied the fix from #88
Works fine!

[2017-06-21 10:11] #87 closed, assigned to nobody

[2017-07-19 07:11] CasVissers-360ERP opened #96 "l10n_nl_intrastat company domain on date_range"
<field string="Period" name="date_range_id" domain="[('company_id','=',company_id)]" attrs="{'readonly': [('state','=','done')]}"/>

There is a company domain on date ranges, this is incorrect in my opinion. In multi-company environments it's possible to make generic date ranges for all companies (without company).

In addition there is already a record rule on company_id in:
https://github.com/OC

[2017-07-19 07:50] CasVissers-360ERP commented on #96
The same is applicable to l10n_nl_tax_statement

[2017-07-20 07:35] CasVissers-360ERP opened #98 "l10n_nl_intrastat should be based on country of parent_id"
Hi,

Example: Company A has Customer B (Netherlands) with Invoice Contact C (Belgium)

In Odoo, fiscal postion and VAT are managed on customer B. The intrastat ICP module incorrectly calculates based on the country of the invoice contact (contact C).

I.e. auto fiscal position calculation on invoices also uses the customer, not the invoice contact.

Regards,
Cas

[2017-07-22 12:02] #96 closed, assigned to nobody

[2017-07-26 11:24] #98 closed, assigned to nobody

[2017-07-31 09:53] jvOrsouw opened #102 "l10n_nl_intrastat should only show revenu of revenu accounts"
The ICP report should only show the amounts that are posted on revenu-accounts. At the moment, it also shows the amounts of f.e. current assets. The dutch tax authorities clearly states that the ICP report is a detailed representation of the revenu of category 3a, and should only show revenu on companies that are obliged to report/pay tax.
If the accounts are limited to only 'type=revenu', the rep

[2017-07-31 10:36] astirpe commented on #102
Hi @jvOrsouw,
there is a flag "_Exclude invoice line from intrastat if this tax is present_" available in `account.tax`.
Isn't it covering your needs?

cc @CasVissers

[2017-07-31 10:39] jvOrsouw commented on #102
Indeed, not very intuitive, and I think maybe the wrong way round, because it will still show the lines without a tax-code (like a downpayment)

[2017-07-31 10:40] CasVissers-360ERP commented on #102
@jvOrsouw
What solution do you propose?

[2017-07-31 10:46] jvOrsouw commented on #102
I propose to base the ICP report on the same lines as the 'aangifte omzetbelasting', so based on the 3a (omzet) Tag and journal lines, and have a seperate report to 'show' the errors in the tax reports, f.e. no country, no TINcode, tax-code doesn't match fiscal position, no partner on the revenu-line

[2017-07-31 14:58] astirpe commented on #102
@jvOrsouw your proposal seems more a overall redesign/rewrite of the module.

The module l10n_nl_intrastat was written long time ago for ancient versions of OpenERP.
At that time, the tax tags were not yet available in the system, and that's why the module was implemented the way it is.
During the porting to v9 and v10 we didn't think about any redesign of the module. We just made the pure porting

[2017-07-31 15:07] hbrunn commented on #102
whoever wants to redesign stuff should go ahead and do it, in the PR we'll see/discuss if the community likes the redisgn. No general complaints from Therp's side in any case.
It might make sense to first create an issue to discuss the details of the redesign so that interested parties (not me) can participate in the discussion.

[2017-07-31 16:12] StefanRijnhart commented on #102
I'm curious after a proper example that demonstrates the problem. You mention downpayments, but it seems that VAT actually applies to downpayments.

[2017-08-01 06:35] jvOrsouw commented on #102
Whether or not there should be VAT on a downpayment is not the question here (Yes, VAT should be on a downpayment, but I'm not the judge if anyone chooses not to apply VAT). Case is that the ICP report should be a representation of the values of rubriek 3b of the tax report, and if an amount is not in 3b, it should also not be in the ICP-report. Also, if a customer is not valid for an ICP report (

[2017-08-01 08:43] ploegvde commented on #102
IMO the Tax Report and ICPO report should be based on the same data. The total amount in 3b should be exact the same as the total on the ICP. So you should not use for the Tax report the account move line and for the ICP the invoice lines.

I agree that changing this is not a good idea for the current module. I would propose a new ICP module. We will start working on this. I will also consult Odoo

[2017-08-03 07:44] StefanRijnhart commented on #102
I like the fact that the reports are created from a different perspective as a cross-check on the integrity of the data.

[2017-08-03 12:11] RoelAdriaans commented on #102
Having more data to do cross checks is fine, but the POS module doesn't create invoices, only move lines.
But, they create move lines with taxes, do using only invoices will skip data..

(Another way do fix this is to create an invoice for every pos transaction, but that's not always needed)

[2017-08-03 12:26] jvOrsouw commented on #102
To my opinion, cross-checks are good to have, but that is not the purpose of this report. I would rather have a seperate report that checks all the (likely) possible tax-errors, than abuse this report for that purpose. If you by accident sent an ICP report to the dutch tax authorities that is different from your tax statement, they'll soon audit your entire company. If you find the error yourself

[2017-08-03 12:58] StefanRijnhart commented on #102
Indeed, this module does not include transactions from POS. The fact that this report is based on invoice lines is definitely a legacy issue that warrants a refactoring. As @hbrunn has said, any suggested changes will be judged on its own merits.

[2017-08-07 08:22] yung-wang opened #103 "Error when generating Auditfile - country': 'AX' is not a valid value"
When you export an Auditfile you get this error. AX is a valid country:
https://en.wikipedia.org/wiki/ISO_3166-2:AX

:205:0:ERROR:SCHEMASV:SCHEMAV_CVC_ENUMERATION_VALID: Element '{http://www.auditfiles.nl/XAF/3.2}country': [facet 'enumeration'] The value 'AX' is not an element of the set {'AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AN', 'AO', 'AQ', 'AR', 'AS', 'AT', 'AU', 'AW', 'AZ', 'BA', 'BB', 'B

[2017-08-07 11:31] astirpe commented on #103
Yeah, same issue we had with the Serbian code: #60

[2017-08-10 08:30] yung-wang commented on #103
I tested the fix made in v10. #106 It is working fine.

[2017-08-10 08:31] #103 closed, assigned to nobody

[2017-09-02 10:37] ploegvde opened #112 "CBS export Bugs"
When testing by our customer we have noted a few bugs. We will create PR soon for the fixes:

1. First line, phone number. If phone number of company setting is with country code =31, it has to be replaced by a 0
2. First line pos 22: This digit has to represents the month that it concerns. Now it is wrongly the month of creation of the file.
3. First line: Change line ending  LF  > CRLF
4. Detail

[2017-09-30 21:38] melroy89 opened #117 "By default installed or not?"
Odoo has already some default Dutch stuff (like ledger accounts, VAT, etc.).

So is this l10n-netherlands by default installed in Odoo (it's different than `l10n_nl` add-on)? If not, what does it really add more?

And will this module be added by default in Odoo v11?

Kind regards,
Melroy

[2017-10-02 15:29] melroy89 commented on #33
Uh.. SBR/XBLR is still not done?

[2017-10-03 14:42] pedrobaeza opened #118 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] l10n_nl_bank
- [x] l10n_nl_bsn
- [ ] l10n_nl_cbs_export
- [ ] l10n_nl_intrastat
- [ ] l10n_nl_partner_name
- [ ] l10n_nl_partner_salutation
- [ ] l10n_nl_postcodeapi
- [x] l10n_nl_tax_statement
- [x] l10n_nl_xaf_auditfile_export

[2017-10-26 09:10] hbrunn commented on #71
fixed by d9931e2

[2017-10-26 09:10] #71 closed, assigned to nobody

[2017-10-26 09:11] hbrunn commented on #117
you should read up on how odoo and the oca works and what their relationship is. This is not the right place to explain basics, start at https://odoo-community.org/

[2017-10-26 09:11] #117 closed, assigned to nobody

[2017-10-26 09:12] hbrunn commented on #62
closing due to inactivity

[2017-10-26 09:12] #62 closed, assigned to nobody

[2017-11-28 07:57] astirpe commented on #118
l10n_nl_bsn https://github.com/OCA/l10n-netherlands/pull/123

[2017-11-29 15:00] astirpe commented on #118
l10n_nl_xaf_auditfile_export https://github.com/OCA/l10n-netherlands/pull/124

[2017-12-01 12:58] CasVissers-360ERP opened #125 "l10n_nl_tax_statement - 4a & 4b turnover negative"
Hi,

When creating a tax statement the turnover in 4a & 4b are shown as a negative amount. I think this should be positive, surely because the tax in 4a&4b is shown as a positive number.

Cas

[2017-12-01 14:49] yung-wang commented on #125
Made a test in V10 with and agree. It is best to make the turnover amount positive. Can we make the display of the turnover amount into an absolute?

[2017-12-01 14:56] astirpe commented on #125
Sure, I will fix it next week. Thank you!

[2017-12-02 10:10] astirpe commented on #118
l10n_nl_tax_statement https://github.com/OCA/l10n-netherlands/pull/126

[2017-12-02 10:23] astirpe commented on #125
5a is the sum of 1a through 4b.
Is the actual calculation of 5a correct?

In case I display a positive amount of 4a and 4b, shall I also change the calculation of 5a?

[2017-12-02 10:34] CasVissers-360ERP commented on #125
The calculation of 5a is correct. Its just the case of displaying the amounts as positive.

[2017-12-04 08:42] astirpe commented on #125
@CasVissers can you check the PR #127 ?

[2017-12-04 09:42] CasVissers-360ERP commented on #125
@astirpe
Looks good thus far.
One thing I missed in my ticket was 2a, this fix should apply to 2a as well.

[2017-12-04 10:12] astirpe commented on #125
@CasVissers shouln't be applied for all the values, then? From 1a to 4b, if the omzet has a different sign than btw, invert the omzet sign. What do you think?

[2017-12-04 10:13] CasVissers-360ERP commented on #125
@astirpe
You are right, I agree that's the best solution.

[2017-12-04 10:26] astirpe commented on #125
Done, can you check?

[2017-12-04 11:30] CasVissers-360ERP commented on #125
Done, issue closed.

[2017-12-04 11:30] #125 closed, assigned to nobody

[2017-12-07 16:08] astirpe commented on #83
RGS version 3.0 is available, so this issue became obsolete. Closing.

[2017-12-07 16:08] #83 closed, assigned to nobody

[2018-01-04 14:22] CasVissers-360ERP opened #137 "l10n_nl_tax_invoice_basis tax booking should be on invoice date"
Hi,

Example:
Invoice date = 04-01-2018
Accounting date = 31-12-2017

Odoo will book everything on 31-12-2017 including the tax. The tax statement report will be correct, but the balance on the tax statement will be incorrect matched to the balance on the ledger.
In the booking the accounting date of the tax moves should be 04-01-2018.

With kind regards,
Cas

[2018-01-04 14:47] yung-wang commented on #137
Hi Cas,

This is how Odoo standard works. In this module we didn't touch the accounting date, we added extra fields in the move lines to make it work only with the Tax Statement (OCA module). The reason is that we don't want to break standard Odoo functionality.

We had the same discussion with Laura and Fabien in the Odoo localisation.

[https://github.com/odoo/odoo/issues/18572](url)

So this mo

[2018-01-04 15:03] CasVissers-360ERP commented on #137
Thnx for the clarification Yung-Wa. Ticket closed.

[2018-01-04 15:03] #137 closed, assigned to nobody

[2018-01-08 03:27] melroy89 commented on #118
l10n_nl_bsn is already merged. Mark as done.

[2018-01-08 17:10] melroy89 commented on #118
l10n_nl_tax_invoice_basis is missing in the above list, but PR is created #122. AND merged.

[2018-01-09 14:17] melroy89 commented on #118
#124 and #126 is merged.

[2018-01-18 10:25] elperrofarelo opened #142 "report_tax_statement not working"
Error in line 67:         <t t-call="report.html_container">
Should be:         <t t-call="web.html_container"> due to the changes in V11
But after changing this, the report is created but empty

[2018-01-18 10:43] astirpe commented on #142
@elperrofarelo are you testing the actual V11 https://github.com/OCA/l10n-netherlands/tree/11.0/l10n_nl_tax_statement module already merged? Or the latest open pull request?
Can you provide us some more info?

[2018-01-18 10:45] astirpe commented on #142
Even better: can you copy and past the entire stacktrace log?

[2018-01-18 15:36] astirpe commented on #142
https://github.com/OCA/l10n-netherlands/pull/126#issuecomment-358682593

[2018-01-29 15:54] astirpe commented on #142
This issue can be closed. The fix was merged.

[2018-01-29 15:57] #142 closed, assigned to nobody

[2018-02-01 09:25] jvOrsouw opened #147 "V9: traceback error on l10n_nl_xaf_auditfile_export"
I get an error when trying to generate an audit file with your module. Can anyone enlighten me what is wrong with the module or the data?

Traceback (most recent call last):
....
File "/opt/odoo/enterprise/web/controllers/main.py", line 902, in _call_kw
return getattr(request.registry.get(model), method)(request.cr, request.uid, *args, **kwargs)
File "/opt/odoo/openerp/api.py", line 250, in wrappe

[2018-02-07 15:11] astirpe commented on #102
I'm working on a new ICP report, as discussed above. PR is https://github.com/OCA/l10n-netherlands/pull/151

In that PR I'm proposing a new module `l10n_nl_tax_statement_icp` that extends `l10n_nl_tax_statement` in order to provide an ICP report coherent with the 3b-omzet line of the BTW aangifte report.

You may want to have a look at it.

[2018-02-19 09:39] astirpe commented on #118
l10n_nl_cbs_export #152

[2018-03-23 08:25] CasVissers-360ERP opened #162 "XAF export not stored"
When exporting a XAF audit for companies with a high number of journal entries the computation can take longer then for example the nginx time-out time or the employee's work time :)

Can we attach generated XAF files to the object and add a list view so we can see and reload historic XAF files?

Thank you.
Cas

[2018-06-12 08:01] astirpe opened #169 "l10n_nl_postcodeapi: res.country.state.csv not used from manifest"
While porting this module to V11, got this warning:

[code]

All versions of the module are affected.

[2018-06-12 08:02] hbrunn commented on #169
move it to `examples/`, mtq has an exception for this folder

[2018-06-12 08:39] astirpe commented on #169
@hbrunn it works! Thank you!

[2018-06-12 08:57] #169 closed, assigned to nobody

[2018-06-12 09:36] astirpe commented on #118
- `l10n_nl_bank`: https://github.com/OCA/l10n-netherlands/pull/170
- `l10n_nl_cbs_export`: https://github.com/OCA/l10n-netherlands/pull/152
- `l10n_nl_postcodeapi`: https://github.com/OCA/l10n-netherlands/pull/168
- `l10n_nl_intrastat` proposed to be replaced by `l10n_nl_tax_statement_icp`: #151

[2018-06-29 06:08] #162 closed, assigned to nobody

[2018-06-29 06:09] CasVissers-360ERP opened #172 "XAF Audit traceback when using max_record [V10]"
Couldn't reproduce in v11, when max_records isn't set the export starts running:

[code]

[2018-06-29 06:58] astirpe commented on #172
The fix made for V8 https://github.com/OCA/l10n-netherlands/pull/134 must be ported to V9, V10 and V11.
Working on it.

[2018-07-03 11:01] astirpe commented on #172
This one can be closed (don't know why was not automatically closed on merge).

[2018-07-03 11:02] #172 closed, assigned to nobody

[2018-09-27 00:10] OCA-git-bot opened #198 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] l10n_nl_account_tax_unece
- [x] l10n_nl_bank
- [x] l10n_nl_bsn - By @astirpe - #199
- [x] l10n_nl_postcode - By @astirpe - #201
- [x] l10n_nl_postcodeapi
- [x] l10n_nl_tax_invoice_basis - By @astirpe  - https://github.com/OCA/l10n-netherlands/pull/203
- [x] l10n_nl_tax_statement
- [x] l10n_n

[2018-10-02 14:24] astirpe commented on #198
l10n_nl_bank #202

[2018-10-04 13:46] astirpe commented on #198
l10n_nl_tax_statement #203

[2018-10-31 12:33] astirpe opened #206 "[BUG] l10n_nl_cbs_export: ValueError: day is out of range for month"
The tests of module `l10n_nl_cbs_export` failed on date 31/10/2018 because of a bug in the code.
Here is the traceback from Travis:

[code]

Working on a patch, I'll open a PR soon.

[2019-01-15 07:59] #102 closed, assigned to nobody

[2019-01-22 13:01] astirpe commented on #198
@OCA-git-bot l10n_nl_tax_statement https://github.com/OCA/l10n-netherlands/pull/203

[2019-01-22 13:03] pedrobaeza commented on #198
@astirpe I'm afraid you have to change by yourself the main comment for adding the reference, as there's no automated task. I usually do for most of the repositories, but this one being a localization one, I prefer that PSCs change it.

[2019-02-02 12:28] bosd opened #218 "[11.0]: traceback error on l10n_nl_account_tax_unece"
I am unable to install this module:
Traceback:

Error:
Odoo Server Error

[code]

[2019-02-02 12:51] astirpe commented on #218
Make sure that you are using the latest code of Odoo 11.0

[2019-02-02 15:31] bosd commented on #218
I am using a fresh docker container, build of 11.0 code

[2019-02-02 15:56] astirpe commented on #218
Could you try to update module l10n_nl ?

[2019-02-02 21:12] bosd commented on #218
Yes, That solved the issue!

[2019-02-02 21:12] #218 closed, assigned to nobody

[2019-02-08 09:29] tv-openbig opened #219 "[V11] l10n_nl_tax_statement: Update of past undeclared invoices - Update of BTW statement doesn't work"
Hello,

i have just checked the V11 version of l10n_nl_tax_statement in order to adopt it for the german "clone" of this module: https://github.com/openbig/l10n-germany/tree/10.0/l10n_de_tax_statement.

I have created a customer invoice with the tax "Verkopen/omzet hoog" with a invoice date in between of the given date_range in the tax statement. If i click on update button the value in the line "

[2019-02-08 12:37] astirpe commented on #219
@tv-openbig Thank you for reporting this issue!
I published a fix in https://github.com/OCA/l10n-netherlands/pull/220, would you give it a try?

[2019-02-08 14:37] tv-openbig commented on #219
@astirpe Thanks for your quick intervention.
I have checked you fix. It is nearly fixed (50%).
The omzet and btw in the list was updated as they should !

<img width="851" alt="bildschirmfoto 2019-02-08 um 15 30 58" src="https://user-images.githubusercontent.com/8348598/52484510-cd4e1700-2bb6-11e9-95cd-f0c40c3d1ded.png">

If i click on the lense to see the invoices behind i would expect to see the

[2019-02-08 15:19] astirpe commented on #219
@tv-openbig right, I will fix it next week. Thanks!
Would you keep Onestein in the list of the authors when you clone this module?

[2019-02-08 18:25] tv-openbig commented on #219
@astirpe

Hello, yes sure i will.

For the V11 version i plan a PR towards OCA/l10n-germany project. So far it was was not possible as Odoo rejected my PR to the V10 german accounting plan (https://github.com/odoo/odoo/issues/18571#issuecomment-343188141).

For the V11 we do not have anymore missing tax tags, so i am positive for the V11 PR.
I will update the authors lists for V11 and also for the

[2019-02-11 08:09] astirpe commented on #219
@tv-openbig Should be working fine now. Could you check?

[2019-02-11 09:33] tv-openbig commented on #219
@astirpe in the list of journal items i still don't get the invoice lines from the past.
I have tested on this runbot instance http://3357967-220-05ec37.runbot3.odoo-community.org/?db=3357967-220-05ec37-all.
Best regards
Thorsten

[2019-02-11 10:37] astirpe commented on #219
@tv-openbig It's because you didn't set the Country to Netherlands in _YourCompany_. The report works fine when the Country is Netherlands for the actual company.
I can understand that there is a strange behavior when the country is not set properly and that could be confusing. But the report is meant for Dutch only companies. There is space for future improvement to avoid confusions, but I don't

[2019-02-11 11:24] tv-openbig commented on #219
@astirpe OK, that is indeed not a big issue in that case;-)

[2019-02-19 08:21] astirpe commented on #219
@tv-openbig in https://github.com/OCA/l10n-netherlands/pull/220 I just committed a fix for getting the invoice lines from the past when the Country is not set to Netherlands. Thanks!

[2019-03-01 10:32] Binformed opened #223 "l10n_nl_tax_statement: Clearing the tax account moves included in the Nederlands BTW Statement to a dedicated payable/receivable (suspense) account when posting the statement"
Hi,

It would be a great enhancement, if when posting a BTW Statement, the option is given to clear all the tax account moves, which are included in the statement, to a dedicated payable/receivable (suspense) account. Subsequently the tax account moves are reconciled on the tax accounts, leaving only the journal item on the dedicated suspense account open to be reconciled with the (bank) payment.

[2019-03-01 14:32] Binformed commented on #223
If the option is not used the status should be Posted **(Draft - Posted - Reconciled).** -> (Draft - Posted - Final)

[2019-03-28 11:00] astirpe commented on #223
@yung-wang what do you think about this?

[2019-03-28 13:40] yung-wang commented on #223
@Binformed I haven't heard any customer asking for this feature. It sounds nice. I would suggest that a Gold Partner as B-Informed with own developers to contribute on the Dutch Localisation with this new feature by creating Pull Request with the new code. That would be great, very supportive to the OCA and helping to make Odoo bigger in The Netherlands. Please help out.

[2019-03-28 17:10] Binformed commented on #223
I will discuss internally what the possibilities are to contribute to this enhancement.

Robert

[2019-04-01 09:48] yung-wang commented on #223
@Binformed That would be great if you can contribute. Together we can make Odoo great in The Netherlands. The more others can contribute, the better. With all our knowledge, skills and experience we can make this successful. Let's be part of this community!

[2019-04-03 03:02] krijn1981 opened #225 "XAF export no starting balance"
We runned a XAF file (the V9 version) through a XAF analyser. But it look like there is not starting balance data. I am not a technical guy but what I can see in the code we only talking about start- and end-date of the fiscal year.

But as properly every knows Odoo has left since V8 the concept of fixed periods.
So since V8 there is not opening period (0). Therefore it will not appear anymore in

[2019-04-29 14:01] woepwoep opened #227 "New VAT rule 9% not honoured in module"
The current version does not support the change in taxes from 6% to 9%.

Setup:
 - duplicate 6% and change to 9%
 - re-run NL VAT

[2019-04-30 09:18] Cravit-Resham opened #228 "l10n_nl_xaf_auditfile_export error while generating auditfile"
module: l10n_nl_xaf_auditfile_export
version: 12.0

**Steps to reproduce**
Click on Generate auditfile.

**Current behavior**
getting error
  File "/home/lenovo/resham_work/odoo_12/odoo/addons/web/controllers/main.py", line 954, in _call_kw
    return call_kw(request.env[model], method, args, kwargs)
  File "/home/lenovo/resham_work/odoo_12/odoo/odoo/api.py", line 749, in call_kw
    return _call_

[2019-04-30 09:28] astirpe commented on #228
@Reshamkumari PR https://github.com/OCA/l10n-netherlands/pull/229 should fix the issue, could you give it a try?

[2019-04-30 09:38] Cravit-Resham commented on #228
Hi Andrea,

Issue is resolved with fix.

On Tue, 30 Apr 2019 at 11:28, Andrea Stirpe <notifications@github.com>
wrote:

--

Regards,

*Resham Kumari*

*B - informed BV*

powerful business solutions

PO Box 4654

4803 ER Breda

*T.*  +31 (0) 76 564 00 63  |   *M.*  +31 (0) 6 82 13 2347   |   *E.*
 resham.kumari@b- informed.nl <roel.adriaans@b-informed.nl>   |  *I. *
www.b-informed.nl

[2019-04-30 09:44] astirpe commented on #228
@Reshamkumari Thanks! Could you please go to https://github.com/OCA/l10n-netherlands/pull/229/files, click on _Review changes_ and then _Approve_?

[2019-05-15 20:54] thomaspaulb opened #231 "l10n_nl_bsn: searching on BSN without dots"
I have seen that the `l10n_nl_bsn` module reformats the BSN by placing dots between the numbers in certain places, eg. `123.45.678` instead of `12345678`. However, when reading for example CSV files with BSN data and trying to match on it, the data will often be without those dots and thus the matching/searching on BSN will not work without extra modifications. Searching on a number without dots w

[2019-05-16 07:20] astirpe commented on #231
Yes, I agree.
Alternatively we could implement a [search method](https://github.com/odoo/odoo/blob/12.0/odoo/fields.py#L157) for the bsn field. This will fix the Odoo "advanced search" and probably will also fix the importing by CSV.

[2019-05-16 07:39] thomaspaulb commented on #231
True, but such a search method should then be accompanied by either of these three:

1. A migration script that adds dots to existing BSN's, very strict enforcing that dotless BSN's don't enter the database and searching on BSN's with dots only
2. Some Postgres trick that allows a `where` search on a transform of the BSN value to something without dots (i dont know if this exists)
3. A stored, ind

[2019-05-16 07:55] astirpe commented on #231
@thomaspaulb the above three points are not necessary IMO. The search method must allow the search on both dotted and not-dotted records, so no need of migration scripts or extra computed fields.

[2019-05-16 08:12] thomaspaulb commented on #231
Ah yes, my mind missed the option of searching for dotted as well as non-dotted. That should also do it.

[2019-07-25 15:56] Binformed commented on #225
Hi OCA, can the previous comment be confirmed?

If yes, will it be fixed as more and more clients are reporting the same issue.

I would be nice to at least receive a confirmation about the code.

Thanks in advance.

[2019-07-26 14:01] astirpe commented on #225
Here is the code you are mentioning https://github.com/OCA/l10n-netherlands/blob/9.0/l10n_nl_xaf_auditfile_export/views/templates.xml#L104-L106 and that is the confirmation that the starting balance is not yet implemented.

[2019-07-30 14:06] krijn1981 commented on #225
Hi, yes i see @astirpe is there a planning to create this?
Currently with XAF file the account can not fully his checkup by his XAF/controlling software.

[2019-07-30 14:15] astirpe commented on #225
@krijn1981 I'm not aware about any plan to add the starting balance. You may ask the authors of the module to know whether someone developed this. If you want you could also try to contact the company I'm working for and arrange an agreement for the developments.

[2019-08-28 10:03] pjkersten opened #236 "l10n_nl_account_credit_control dependency error"
l10n_nl_account_credit_control depends on account_credit_control (OCA/credit-control), which is 12.0. In 11.0 it is non existent.

[2019-08-28 10:09] astirpe commented on #236
@pjkersten `account_credit_control` for 11.0 is here: https://github.com/OCA/account-financial-tools/tree/11.0

[2019-08-28 16:01] pjkersten commented on #236
@astirpe Didn't see that. Thanks.

[2019-08-28 16:01] #236 closed, assigned to nobody

[2019-08-29 13:16] yung-wang opened #237 "Tax Statement and ICP: allow a fiscal unit to do a tax statement for all the child companies. For the ICP the Totals of access to the childs."
According the Dutch Tax Authority, as a fiscal unit, you can do 1 tax statement for all companies including the child companies.

In the current module, you can only see your the tax statement of the company you're logged in. In Enterprise, you can do a statement of all the companies, by selecting them when you're logged in into the parent company. It would be nice to have the same functionality i

[2019-09-11 09:10] astirpe commented on #237
The ICP reports must be created separately for each company in any case, right?

[2019-09-13 14:01] astirpe commented on #237
@yung-wang could you check https://github.com/OCA/l10n-netherlands/pull/238?

[2019-09-29 21:39] OCA-git-bot opened #239 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] l10n_nl_bank
- [x] l10n_nl_bsn
- [x] l10n_nl_postcode
- [x] l10n_nl_tax_invoice_basis
- [x] l10n_nl_tax_statement
- [x] l10n_nl_xaf_auditfile_export

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2019-09-30 09:28] lfreeke commented on #239
l10n_nl_bank #240

[2020-01-15 15:32] espo-tony commented on #239
l10n_nl_tax_invoice_basis #252

[2020-01-24 08:32] mlamie opened #254 "l10n_nl_xaf_auditfile_export error while generating auditfile GG - Guernsey"
module: l10n_nl_xaf_auditfile_export
version: 12.0

**Steps to reproduce**
Click on Generate auditfile.

**Current behavior**
getting error
Element '{http://www.auditfiles.nl/XAF/3.2}taxRegistrationCountry': [facet 'enumeration'] The value 'GG' is not an element of the set {'AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AN', 'AO', 'AQ', 'AR', 'AS', 'AT', 'AU', 'AW', 'AX', 'AZ', 'BA', 'BB', 'BD', 'BE',

[2020-02-21 10:20] #219 closed, assigned to nobody

[2020-03-26 12:02] #112 closed, assigned to nobody

[2020-03-30 10:55] ayushin opened #256 "Dutch mis builder reports? PnL and Balance sheet"
Hi guys,

I was wondering why there are no PnL and Balance sheet MIS builder reports for Holland?

The community seems to be pretty big and even BTW & ICP  modules are available but not MIS reports?

Am I missing something?

[2020-03-30 11:37] astirpe commented on #256
In the Netherlands, by law there's no standard mandatory Chart Of Accounts. It means that each company is free to adopt its own customized COA. Since P&L and Balance Sheet are strictly depending on the COA, there's not an easy way to create such generic "MIS builder reports" module.

[2020-04-02 10:28] ayushin commented on #256
Yes, I realise that. But there's an elaborate chart of accounts that comes with Odoo by Onestein - "Netherlands - Accounting"

Should not be too difficult to have two simple MIS reports Balance sheet and PnL for that chart?

Should not be too much work for somebody who is proficient with MIS builder and will be a great help for the community.

[2020-04-02 11:04] astirpe commented on #256
@ayushin The reports you are mentioning are not in my todo list at the moment. Let's see if someone else can help you...

[2020-07-29 12:06] astirpe commented on #206
Fix merged

[2020-07-29 12:06] #206 closed, assigned to nobody

[2020-07-29 12:08] astirpe commented on #118
This issue can be closed

[2020-07-29 12:10] astirpe commented on #228
This issue can be closed

[2020-07-29 12:13] #228 closed, assigned to nobody

[2020-07-29 12:13] #118 closed, assigned to nobody

[2020-08-04 08:19] astirpe commented on #256
Proposed in https://github.com/OCA/l10n-netherlands/pull/263

[2020-10-04 10:31] OCA-git-bot opened #278 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] l10n_nl_l10n_nl_account_tax_unece #286 by @astirpe
- [ ] l10n_nl_bank #307 by @bosd
- [x] l10n_nl_bsn #283 by @astirpe
- [ ] l10n_nl_location_nuts
- [ ] l10n_nl_partner_name
- [x] l10n_nl_oin #282 by @astirpe
- [x] l10n_nl_postcode #284 by @astirpe
- [ ] l10n_nl_mis_reports (from 12.0) https

[2020-11-12 09:41] jvOrsouw opened #288 "XAF auditfile Opening balance in V11"
with reference to issue #247, would it be possible to forward-port this addition to V11? I'm not a developer myself so I don't have the skills to edit files so they make any sense.

[2020-11-12 09:49] jvOrsouw opened #289 "XAF auditfile optional year in periods"
My customer doesn't get the move-lines when the auditfile is imported into Unit4 audition or FDS. This is caused by the way the periods are build: if a period is 'year + month', their program doesn't get it.
Can the period be changed to just 2 characters for just the months, or maybe this option can be made optional?

[2020-11-12 10:21] NL66278 commented on #289
@jvOrsouw Do you have the possibility to patch the code? In that case it would be easy to point out how to leave out the year. Otherwise it would take some programming to create a Pull Request.

[2020-11-12 10:47] jvOrsouw commented on #289
hi @NL66278 , yes I have the possibility to patch the code through direct SSH access to the server. I think I'll be able to change the period myself by updating the 'get_period_number'.

[2020-11-12 12:09] NL66278 commented on #289
@jvOrsouw That is indeed the place to act. The date is passed to the method in ISO format: "2020-02-01",.

period_id = date[5:7] should do the trick.

Note that from version 12.0 the logic of get_period_number changed completely.

[2020-11-12 12:46] astirpe commented on #289
Shall the 2 characters period be applied only for Unit4? Or could it be a general requirement?

[2020-11-12 13:30] jvOrsouw commented on #289
@astirpe as fas as I'm concerned, it could be a general requirement. However, it might raise issues for companies with a fiscal period other than january-december. If f.e. the fiscal period is from july to june, and the periods are 07-08-....-06, this might be sorted incorrectly?
@NL66278 I noticed the change in get_period_number. As the client is in the process of migrating to v13, I'll keep in m

[2021-01-18 14:27] mlamie opened #300 "l10n_nl_xaf_auditfile_export error while generating auditfile CW - Curaçao"
**module**: l10n_nl_xaf_auditfile_export
**version**: 12.0.1.0.1

**Steps to reproduce**
Click on Generate auditfile.

**Current behavior**
getting error
Element '{http://www.auditfiles.nl/XAF/3.2}taxRegistrationCountry': [facet 'enumeration'] The value 'CW' is not an element of the set {'AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AN', 'AO', 'AQ', 'AR', 'AS', 'AT', 'AU', 'AW', 'AX', 'AZ', 'BA', 'BB

[2021-01-18 15:11] astirpe commented on #300
Yes, that country code "CW" should be added in the `CountrycodeIso3166` list: https://github.com/OCA/l10n-netherlands/blob/12.0/l10n_nl_xaf_auditfile_export/data/XmlAuditfileFinancieel3.2.xsd#L693

@mlamie are you going to open a PR for that? Or do you need help?

[2021-01-18 15:29] mlamie commented on #300
@astirpe Sorry, but I can't program (I do have IT Project Manager skills ;-)). Help on the subject is much appiciated.

[2021-01-18 15:30] mlamie commented on #300
Can we also include the issue 254 which I opend earlier? See: https://github.com/OCA/l10n-netherlands/issues/254

[2021-01-18 20:07] CasVissers-360ERP commented on #300
See #255 PR for version 10 will try to make a PR for version 12 and upwards sometime this week. Also the list of currencies should be improved.

[2021-01-19 17:37] CasVissers-360ERP commented on #300
@mlamie See #301

[2021-01-21 20:26] #300 closed, assigned to nobody

[2021-01-21 20:26] #254 closed, assigned to nobody

[2021-02-27 19:54] bosd commented on #278
l10n_nl_bank in #307

[2021-02-27 19:56] bosd commented on #278
l10n_nl_postcode in #284

[2021-02-28 08:48] bosd opened #308 "RSIN number support"
Is there currently support for the RSIN number?
https://www.kvk.nl/english/registration/rsin-number/

As such that it can be used as a sanity check?
https://business.gov.nl/starting-your-business/registering-your-business/lei-rsin-vat-and-kvk-number-which-is-which/

Would be a nice addition when the kvk modules would have a place to store the RSIN number that they have fetched.
l10n_nl_kvk https:/

[2021-03-02 09:48] StefanRijnhart commented on #278
@bosd thanks for noting! And thank you for your reviews on this project. Much appreciated.

[2021-03-05 10:49] bosd opened #312 "[14.0] l10n_nl_tax_statement"
The version history (changelog) does not include the port to V14
https://github.com/OCA/l10n-netherlands/blob/7f2f147c43ae68b514e6328bce68f164a25fadd7/l10n_nl_account_tax_unece/readme/HISTORY.rst

[2021-03-05 12:06] StefanRijnhart commented on #312
Not sure this is a problem. The migration entries are somewhat redundant for my part.

[2021-03-05 12:27] bosd commented on #312
No problem at all. (just my ocd)
I created an issue, because I did'nt know where to raise attention to this item.

[2021-04-14 12:23] MartinAarts opened #315 "l10n_nl_xaf_auditfile_export Error during creation of audit file : too many fractional digits"
We're trying to create an audit file of the 2020 fiscal year, but when trying to create the audit file, we get this error:
Element '{http://www.auditfiles.nl/XAF/3.2}amnt': [facet 'fractionDigits'] The value '40.800000000000004' has more fractional digits than are allowed ('2').

We can't find the booking that would cause this. Shouldn't this be rounded somewhere in this module?

[2021-04-14 13:08] astirpe commented on #315
Could be field `balance` or field `amount_total`, since they are computed fields, and thus their values cannot be searched inside the db. You can try to round both of them. What version are you using?

[2021-04-14 13:27] MartinAarts commented on #315
i've updated an hour ago to version 13.0.1.1.2.

Any hints on how to do the rounding?

[2021-04-14 13:37] astirpe commented on #315
In file `views/templates.xml`, try to replace this line:

`<amnt><t t-esc="abs(l.balance)" /></amnt>`

with:

`<amnt><t t-esc="round(abs(l.balance), 2)" /></amnt>`

and replace line:

`<amnt><t t-esc="abs(l['balance'])" /></amnt>`

with:

`<amnt><t t-esc="round(abs(l['balance']), 2)" /></amnt>`

and then update the module.

If this is working I will open a PR to fix it.

[2021-04-14 14:01] MartinAarts commented on #315
Thanks for your help, with the adjustments you suggested, the error changed to a different amount. So i had to change to more lines to get it to work, changed lines are:

 <amnt><t t-esc="round(m.amount_total, 2)" /></amnt>

and

<curAmnt><t t-esc="round(l.amount_currency, 2)" /></curAmnt>

[2021-04-18 07:08] #312 closed, assigned to nobody

[2021-04-18 07:21] bosd opened #316 "14.0 NL Tax Statement PDF Report Layout"
On runbot the 14.0 tax statement looks like this (as expected):
![image](https://user-images.githubusercontent.com/11499387/115137346-ec158700-a025-11eb-9191-16a7974f31e7.png)

On 2 seperate dev machines it looks like this:
![image](https://user-images.githubusercontent.com/11499387/115137402-36970380-a026-11eb-8c54-9ab6003d5ba9.png)

Not sure whats causing this.
Changing the company paperformat o

[2021-04-18 08:12] CasVissers-360ERP commented on #316
Report URL or base URL, seems like css not loaded?

[2021-04-18 09:27] bosd commented on #316
The url is:
```http://localhost:14069/web#id=1&action=249&model=l10n.nl.vat.statement&view_type=form&cids=&menu_id=96```

Noticed some errors in the debug window of firefox.
can it be related?

![image](https://user-images.githubusercontent.com/11499387/115140651-a1513a80-a038-11eb-84fc-6b20aacf3f5f.png)

<details>

[code]

</details>

[2021-04-18 09:34] bosd commented on #316
BTW, the css is accesiable on: http://localhost:14069/l10n_nl_tax_statement/static/src/css/report.css
seems fine. Issue is only in the generated pdf.

[2021-04-19 12:02] bosd commented on #316
Looks like it is not related to this module but to my setups.
As reports from different modules are also messed up.

Not sure yet what is the cause of this issue.

(I'm coming from V8, hoping broken PDF layouts was something from that era.)

[2021-04-19 12:11] bosd commented on #316
I'm running this on Doodba
So the instance port is different then the public port which is used to generate the reports.

Solved it by setting a proper url  for report generation.

Goto -> Settings -> Parameters -> System Parameters

and add:

key: ```report.url ```
value: ```http://localhost:8069```

Clsing this one

[2021-04-19 12:11] #316 closed, assigned to nobody

[2021-04-20 20:10] bosd opened #317 "[14.0] nl tax statement / CoA"
Is there some user documentation on how to use the dutch (CE) Tax statement and CoA? :pray:

The specific question is. How to fill in BTW for personal use (1d)

Example:
A phone bill is issued, not the whole tax high amount is to be deducted.
80% of the costs is personal usage, 20% business.
How does one populate the account tag (1d priv'e gebruik)

[2021-04-24 08:34] E4eqRL0yw0yajQJ433QL opened #318 "[13.0] nl tax statement - Error since upgrade from 12 to 13"
**Problem summary**
Since I had my database upgraded from Odoo12 CE to Odoo13 CE, the nl tax statement report (BTW aangifte rapport) leads to an error when I hit the "update" button in the report:
File "/var/lib/odoo/addons/13.0/l10n_nl_tax_statement/models/l10n_nl_vat_statement.py", line 408, in _get_tags_map     matching.update({tag.id: (res_code.group(0), "omzet")})
AttributeError: 'NoneType' o

[2021-04-25 08:34] CasVissers-360ERP commented on #318
@E4eqRL0yw0yajQJ433QL

You can fix this by updating def _get_tags_map(self): with:
[code]

@astirpe what do you think of the fix?

[2021-04-25 10:33] E4eqRL0yw0yajQJ433QL commented on #318
@CasVissers-360ERP
Thanks for your superfast reply Cas. It is well-appreciated.
I applied the fix that you proposed and did some quick testing:
- Technically I am no longer getting the error message (thanks!)
- Now I am getting some unexpected results in the amounts, but this may well be caused by some incorrect setup in my system.
Looking forward to Andrea's conformation on Cas' proposal.
I'll le

[2021-04-25 10:40] CasVissers-360ERP commented on #318
You might need to correct the account tags set on the taxes and then recompute the tax_tag_ids of account move lines to fix the incorrect amounts.

[2021-04-25 11:14] E4eqRL0yw0yajQJ433QL commented on #318
Thx Cas. You are right. Correcting the account tags set on the taxes was something I indeed already did yesterday. So for any new purchases/invoices  the VAT report shows the right figures (just tested that and things are fine). As for Q1, I already posted the VAT reports, so there also I am OK.
However I am now struggling with the (both customer and supplier) invoices that I posted in the first t

[2021-04-25 14:01] CasVissers-360ERP commented on #318
I have a script te re-create them, will share tomorrow.

[2021-04-26 05:11] CasVissers-360ERP commented on #318
@E4eqRL0yw0yajQJ433QL

I created a server action running a custom method based on Odoo's base mechanism to calculate this (use at own risk :) ).

*code incorrect*

[2021-04-26 08:58] E4eqRL0yw0yajQJ433QL commented on #318
Hi Cas. Just to make sure that I am doing the right thing: which "model" should I choose when creating this server action. I tried to include it in model "nederlandse btw aangifte", but that leads to an odoo server error when running the action. Hence I think, I am probably doing something wrong in the server action (sorry for not being an odoo expert - pretty new at this).

Traceback (most recent

[2021-04-28 09:03] CasVissers-360ERP commented on #318
@E4eqRL0yw0yajQJ433QL
The script was not correct, I am working on something new will let you know if I find something.

[2021-06-29 11:53] gjotten commented on #256
@hbrunn AFAICS this issue can be closed since it's been addressed in your module.

[2021-06-29 14:39] #256 closed, assigned to nobody

[2021-08-22 20:27] #198 closed, assigned to nobody

[2021-08-22 20:29] NL66278 commented on #147
Difficult to say. Might be an error due to the colume of data. Does it contain a large number of transactions. Is the issue still relevant?

[2021-09-27 07:07] yung-wang commented on #237
fixed in https://github.com/OCA/l10n-netherlands/pull/238

[2021-09-27 07:07] #237 closed, assigned to nobody

[2021-10-17 10:17] OCA-git-bot opened #337 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] l10n_nl_account_tax_unece - By @astirpe - #376
- [x] l10n_nl_bank
- [x] l10n_nl_bsn
- [x] l10n_nl_oin
- [x] l10n_nl_postcode
- [x] l10n_nl_tax_statement
- [x] l10n_nl_xaf_auditfile_export
- [x] l10n_nl_xaf_auditfile_export - By @NL66278 - #364

Missing module? Check https://github.com/OCA/ma

[2021-10-31 12:11] #288 closed, assigned to nobody

[2021-10-31 12:11] #289 closed, assigned to nobody

[2021-10-31 12:11] #308 closed, assigned to nobody

[2021-11-07 12:11] #225 closed, assigned to nobody

[2021-11-07 12:11] #227 closed, assigned to nobody

[2021-11-07 12:11] #231 closed, assigned to nobody

[2021-11-14 12:11] #223 closed, assigned to nobody

[2021-11-21 12:11] #315 closed, assigned to nobody

[2021-11-28 12:11] #317 closed, assigned to nobody

[2021-12-05 12:11] #318 closed, assigned to nobody

[2021-12-12 08:31] MrMoronIV commented on #337
I'm new to the odoo eco system, what's generally the expectation before a new version can be used in the Netherlands? Assuming that the missing btw aangifte in the accounting module holds back the use of the latest odoo Enterprise version?

[2022-01-03 16:49] NL66278 commented on #337
@MrMoronIV Note that you cannot use the OCA modules on Odoo SAAS. You have to self-host, or to use odoo.sh. Community or Enterprise. What modules you need for a new version depend on the functionality you need. You could make your own tax report in Odoo Enterprise or depend on the reports that are there. The module l10n_nl_tax_statement is just very convenient, because it follows the screens and c

[2022-03-28 11:57] mgielissen opened #344 "[14.0] l10n_nl_xaf_auditfile_export: "PCDATA invalid Char value 24""
On generate auditfile a customer gets this error:

`l10n_nl_xaf_auditfile_export.models.xaf_auditfile_export: line 254720: b'PCDATA invalid Char value 24' (line 254720) `

Is there a way to find which causes this error?

[2022-03-30 06:04] CasVissers-360ERP opened #348 "[14.0] XAF Audit file improvements"
Hi all,

Have some improvements which I think could be beneficial:

1. Do not included move lines with a display_type:
`<trLine t-foreach="m.line_ids" t-as="l"> ->>> <trLine t-foreach="m.line_ids.filtered(lambda l: not l.display_type)" t-as="l">`
2. Add state checks:
add `"and parent_state = 'posted' ", ` to queries:
get_move_line_total_credit
get_move_line_total_debit
get_move_line_count
get_ob_t

[2022-04-19 17:24] E4eqRL0yw0yajQJ433QL opened #350 "[14.0] nl tax statement - Error since upgrade from 13 to 14"
## Module
l10n_nl_vat_statement.py

## Describe the bug
System creates error when running the Dutch btw report functionality
  File "/var/lib/odoo/addons/14.0/l10n_nl_tax_statement/models/l10n_nl_vat_statement.py", line 410, in statement_update
    self._set_statement_lines(lines, move_lines)
  File "/var/lib/odoo/addons/14.0/l10n_nl_tax_statement/models/l10n_nl_vat_statement.py", line 437, in _se

[2022-04-29 10:11] bosd opened #351 "[14.0] Incomplete TAX statement due to missing partner fiscal position."
## l10n_nl_tax_statement

## Tax Statement is missing entries from vendors which do not have a fiscal position set.
The module `l10n_nl_tax_statement` seems to take into account the fiscal postion of the partner.
When the fiscal position on the partner level is not set, the entries from the vendor bills are not included in the tax statment.
From an usability point this is undisered as one does not

[2022-04-29 11:46] bosd commented on #351
@astirpe Your thoughts on this?

[2022-05-01 08:08] bosd commented on #337
`l10n_nl_oin` can be removed from the list. it is in the localization module of odoo core now.
https://github.com/odoo/odoo/blob/69dc1f561f4d1740d3d558c68b9006dfba3ab5c3/addons/l10n_nl/models/res_partner.py#L8

Mind when migrating the KvK modules. As the field can be changed from the field added by the oca module to the new field included in core V15.

[2022-05-20 07:09] support-atharva opened #358 "Generate Audit File - Max Length Issue"
## Module
XAF auditfile export - 14.0 Version

## Describe the bug
When we generate the Audit File, It throws an error for the Data Length.

## To Reproduce
**Affected versions**:
14.0

Steps to reproduce the behavior:
1. Generate Audit-file Export Record
2. Click on "Generate Auditfile" button.
3. Error: Element '{http://www.auditfiles.nl/XAF/3.2}bankAccNr': [facet 'maxLength'] The value has a le

[2022-05-20 09:57] CasVissers-360ERP commented on #358
@support-atharva
Look for bank account numbers with a length > 35 and shorten them.

SELECT id, sanitized_acc_number FROM res_partner_bank WHERE LENGTH(sanitized_acc_number) > 35;

[2022-07-29 06:26] MartinAarts commented on #337
We're a Dutch company considering switching from 13 to 15, but do require the xaf audit file export. Is there already some sort of schedule or anyone working on this? Or is it when a volunteer steps up?

[2022-07-29 06:30] CasVissers-360ERP commented on #337
@MartinAarts Do you run the enterprise or community edition? XAF audit is now also part of Odoo EE.

[2022-07-29 06:31] MartinAarts commented on #337
We're running enterprise. That's great news, thanks!

[2022-08-11 12:53] astirpe commented on #351
@bosd I tried to reproduce the issue you mentioned. I tried both on runbot and locally. In case the fiscal position is not set, I'm always able to get the tax amount under "5b Voorbelasting" (for vendor bills). So to me it seems that the tax statement report works properly, regardless of the fiscal position value.
I also checked the code and I didn't find any possible correlation with the fiscal p

[2022-08-11 13:18] astirpe commented on #350
The error mentioned in the description of the bug is caused by wrong account tags for taxes, as explained also in
https://github.com/OCA/l10n-netherlands/issues/318 so that error is a "symptom" that something is wrong.

The proposed code change is just hiding the error but is not fixing the root of the problem which is the wrong data (tags for taxes). We need a proper fix of the issue, that would

[2022-08-11 13:45] astirpe commented on #239
This issue can be closed IMO

[2022-08-11 14:41] astirpe commented on #358
@support-atharva did the solution proposed by Cas work for you? Can we close this issue?

[2022-08-12 04:30] support-atharva commented on #358
@astirpe

Thanks, Yes this works.

[2022-08-16 11:31] E4eqRL0yw0yajQJ433QL commented on #350
Thanks for your kind comments Andrea. I did manually make the code change in V14, so for me it is now working as desired. I THOUGHT I fixed all the account tag problems already in V13, but from your comment I derive that there still might be issues there. I'd be happy to provide access to my database if that would benefit analyzing the real root-cause of the problem. Just let me know what could be

[2022-09-19 07:40] NL66278 commented on #337
@bosd https://github.com/OCA/l10n-netherlands/issues/337#issuecomment-1114165653 The OCA oin module still contains validations that are missing from the Odoo 15.0 code. So I think the module still has some value on 15.0.

[2022-10-03 16:24] sbidoul opened #363 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] l10n_nl_account_tax_unece - By @hbrunn - #417
- [x] l10n_nl_bank - By @astirpe - #386
- [x] l10n_nl_bsn - By @astirpe - #374
- [x] l10n_nl_postcode - By @astirpe - #373
- [x] l10n_nl_tax_statement - By @astirpe - #372
- [x] l10n_nl_xaf_auditfile_export - By @astirpe - #371

Missing module? C

[2022-10-10 08:44] gjotten commented on #363
- [ ]  l10n_nl_xaf_auditfile_export is otherwise paywalled in Odoo Enterprise, so for non-EE accounting implementations we definitely need that one migrated as well AFAICS?

[2022-10-11 09:21] NL66278 commented on #363
The auditfile should be first migrated to 15.0 then.

[2022-10-15 21:20] #358 closed, assigned to nobody